body
{
    background-color: rgb(61, 61, 61);
}
h1
{
    font-size: 50px;
    text-align: center;
    color: rgb(139, 250, 139);
}

*{
    box-sizing: border-box;
}

body 
{
    font-family: Arial;
}

.header 
{
    text-align: center;
    padding: 32px;
}

/* Create two equal columns that floats next to each other */
.column 
{
    float: left;
    width: 50%;
    padding: 10px;
    margin: auto;
}

.column img 
{
    margin-top: 50px;
    margin-left: auto;
	margin-right: auto;
	display: block;
}

/* Clear floats after the columns */
.row:after 
{
    content: "";
    display: table;
    clear: both;
}
.camera
{
    width: 100%;
    height: 10%;
}
img.camera
{
    background-color: #909090;
    margin: auto;
    width: 20px;
    height: 20px;
    float: left;
}

div.desc
{
    padding: 15px;
    margin: 0 auto;
    background-color: white;
    width: 50%;
    
}
img.heart
{
    margin: -56px 0 0 -28px;
    width: 70px;
    height: 60px;
    cursor: pointer;
}
img.comment
{ 
    margin: -10px 0 0 392px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}
